.app {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2500px;
  overflow: hidden;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
}

.app .site-content {
  height: 5000px;
  /*-webkit-overflow-scrolling: touch;*/
  /*background:#CAE1FF;*/
  background: dodgerblue;
}

.pageHeaderDiv{
  width: 80%;
  height: 40px;
  margin-left: 10%;
  text-align: center;
}
.pageHeader{
  color: rgb(018,055,156);
  font-size: 50px;
  margin-top: 0px;
}

/*=================== NavBar ============================*/


#navbar{
  height: 150px;
  width: 100%;
  background-color: rgb(018, 055,156);
  border: 5px solid rgb(018, 055,156);
  padding: 15px;
  border-bottom: 1px solid white;
 
}
#adminNavbar{
  height: 150px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid white;
  padding: 15px;
  
}
#navbarLogo{
  height: 150px;
  margin-left: 25px;
  
}
#navbarLogoBox{
  height: 150px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  background-color: white;
  border: 5px solid royalblue;
  border-radius: 15px;
  /*border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/
}
#adminNavbarLogoBox{
  height: 150px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  background-color: white;
  border: 5px solid royalblue;
  border-radius: 15px;
  /*border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/
}
#navbarTitle{
  position: absolute;
  top: 0;
  color: white;
  margin-top: 70px;
  margin-left: 225px;
  font-size: 50px;
}
.navbarLink{
  color: white;
  position: relative;
  float: right;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 10px;
}

#signedInAs{
  color: white;
  position: relative;
  float: right;
  margin-top: 125px;
  margin-right: 10px;
}


/*=================== Welcome Page ============================*/
#welcome{
    color: white;
    margin-top: 100px;
    margin-left: 75px;
}
#enter{
  font-size: 100px;
  color: white;
  margin-left: 25%;
  margin-right: 25%;
}

/*=================== Login Page ============================*/

#loginDiv{
  position: relative;
  float: center;
  margin-left: 30%;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 40%;
  height: 200px;
  border-radius: 10px;
  border: 5px solid white;
  /*background-color: #BCD2EE;*/
  background-color:gray;
  color: white;
}


/*=================== All Events Page ============================*/

.tripsDivTitle{         /* can delete this one now?*/
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid limegreen;
}

#greenTripsDiv{
  margin-left: 10%;
  margin-top: 45px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  /*background-color: #BCD2EE;*/
  background-color:royalblue;
  color: white;
  /*box-shadow: 0 0 0 3pt white;*/

}
.greenTripsDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid limegreen;
}

.tripDateLine{
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 17px;
  color: white;
  float: right;
}
.tripDateLineSmall{
  position: absolute;
  left: 450px;
  font-size: 12px;
  color: white;
}
.tripTimeLineSmall{
  position: absolute;
  left: 550px;
  font-size: 12px;
  color: white;
}
.tripCostLineSmall{
  position: absolute;
  left: 650px;
  font-size: 12px;
  color: white;
}
.tripMaxSlotsLineSmall{
  position: absolute;
  left: 750px;
  font-size: 12px;
  color: white;
}

.greenTripDescriptionLine{
  margin-left: 60px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
  border-bottom: 1px solid limegreen;
}
.orangeTripDescriptionLine{
  margin-left: 60px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
  border-bottom: 1px solid orange;
}
.purpleTripDescriptionLine{
  margin-left: 60px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
  border-bottom: 1px solid purple;
}
.yellowTripDescriptionLine{
  margin-left: 60px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
  border-bottom: 1px solid yellow;
}
.tripCostLine{
  margin-left: 100px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
}
.tripTimeLine{
  margin-left: 100px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
}
.greenLI{
  color: limegreen;
  margin-left: 50px;
  text-decoration: white;
  margin-top: 3px;
  border-bottom: 1px solid limegreen;
  width: 55%;
  padding: 10px;
}

#orangeTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  background-color: royalblue;
  color: white;
  /*box-shadow: 0 0 0 3pt white;*/
}
/*.greenModal{
  position: absolute;
  top: 325px;
  left: 400px;
  height: 425px;
  width: 60%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}*/
.orangeTripsDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid orange;
}
.orangeLI{
  color: orange;
  margin-left: 50px;
  text-decoration: white;
  margin-top: 3px;
  border-bottom: 1px solid orange;
  width: 55%;
  padding: 10px;
}

#purpleTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  background-color: royalblue;
  color:white;
  /*box-shadow: 0 0 0 3pt white;*/
}
.purpleTripsDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid purple;
  
}
.purpleLI{
  color: purple;
  margin-left: 50px;
  text-decoration: white;
  margin-top: 3px;
  border-bottom: 1px solid purple;
  width: 55%;
  padding: 10px;
}

#yellowTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  background-color: royalblue;
  color:white;
  /*box-shadow: 0 0 0 3pt white;*/
}
.yellowTripsDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid yellow;
}
.yellowLI{
  color: yellow;
  margin-left: 50px;
  text-decoration: white;
  margin-top: 3px;
  border-bottom: 1px solid yellow;
  width: 55%;
  padding: 10px;
}

/*li {
  color: white;
  font-size: 17px;
}*/

a {
  color:white;
  text-decoration: none;
 }

/*.modalLink:hover{
  text-decoration: underline;
  
}
.modalEventTitle{
  margin-left: 10px;
}
.modalEventDescription{
  margin-left: 90px;
}
.modal-body{
  margin-left: 30px;
}*/
.submitMeButton{
  margin-left: 10px;
}

.removeMeButton{
  margin-left: 10px;
}

/*======================== Trip Details Page =============================*/

#tripDateLine{
  margin-left: 10px;
}


/*======================== admin Home ======================================*/



#adminHomeTitle{
 color: white
}

.adminHomeLinks{
  color: white;
  float: left;
  margin-left: 150px;
  margin-right: 150px;
  
}
.hvr-grow {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}







/*======================== adminAllEvents ======================================*/
/*#adminNavbar{
  height: 150px;
  width: 100%;
  background-color: black;
}*/

#adminBackground{
  position: absolute;
  top: 150;
  height: 100%;
  width: 100%;
  background-color: black;
  /*border-top: 5px solid gray;*/

}
#adminGreenTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding:20px;
  padding-top: 10px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid limegreen;
  background-color: black;
  color: white;
}
#adminOrangeTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid orange;
  background-color: black;
  color: white;
}
#adminPurpleTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid purple;
  background-color: black;
  color:white;
}
#adminYellowTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid yellow;
  background-color: black;
  color:white;
}
.adminTripLink{
  color: white;
}
.adminLI{
  color: white;
  margin: 10px;
}

#addTripButtonGreen{
  position: relative;
  float: center;
  margin: 20px;
  height: 40px;
  width: 80px;
  background-color: black;
  border: 2px solid limegreen;
  color: white;

}

#addTripButtonOrange{
  position: relative;
  float: center;
  margin: 20px;
  height: 40px;
  width: 80px;
  background-color: black;
  border: 2px solid orange;
  color: white;
}

#addTripButtonPurple{
  position: relative;
  float: center;
  margin: 20px;
  height: 40px;
  width: 80px;
  background-color: black;
  border: 2px solid purple;
  color: white;
}
#addTripButtonYellow{
  position: relative;
  float: center;
  margin: 20px;
  height: 40px;
  width: 80px;
  background-color: black;
  border: 2px solid yellow;
  color: white;
}
.greenEditTripButton{
  position: absolute;
  left: 350px;
  /*margin:10px;  */
  background-color: black;
  border: 1px solid limegreen;
  color: white;
}
.orangeEditTripButton{
  position: absolute;
  left: 350px;
  /*margin:10px;  */
  background-color: black;
  border: 1px solid orange;
  color: white;
}
.purpleEditTripButton{
  position: absolute;
  left: 350px;
  /*margin:10px;*/
  background-color: black;
  border: 1px solid purple;
  color: white;
}
.yellowEditTripButton{
  position: absolute;
  left: 350px;
  /*margin:10px;*/
  background-color: black;
  border: 1px solid yellow;
  color: white;
}

/*========================  adminTripDetails Pages ======================================*/

#editSlotButton {
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-right: 20px;
}

#hasPaidOrNot{
  margin-right: 30px;
  margin-left: 10px;
}

.greenTripSlots{
  color: limegreen;
}
#participantName{
  color:white;
}
#greenEditSlotButton{
  margin:10px;
  background-color: black;
  border: 1px solid limegreen;
  color: white;
}
#orangeEditSlotButton{
  margin:5px;
  background-color: black;
  border: 1px solid orange;
  color: white;
}
#purpleEditSlotButton{
  margin:5px;
  background-color: black;
  border: 1px solid purple;
  color: white;
}
#yellowEditSlotButton{
  margin:5px;
  background-color: black;
  border: 1px solid yellow;
  color: white;
}

/*========================  adminSlotDetails Pages ======================================*/


#editSlotHeader{
  border-bottom: 2px solid black;
}
#editSlotDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  /*background-color: #BCD2EE;*/
  background-color:gray;
  color: white;
}

#paidCheckBox{
  margin-left: 10px;
}

#updateSlotButton{
  margin: 15px;
  border: 2px solid limegreen;
}

#deleteSlotButton{
  /*margin: 15px;*/
  background-color: none;
  border: 2px solid red;
}

/*========================  adminEditTrip Pages ======================================*/

#editTripDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  /*background-color: #BCD2EE;*/
  background-color:gray;
  color: white;
}

#tripNameBox{
  position: absolute;
  left: 300px;
  
}
#tripDateBox{
  position: absolute;
  left: 300px;
}
#tripDescriptionBox{
  position: absolute;
  left: 300px;
}
#colorIDBox{
  position: absolute;
  left: 300px;
}
#tripTimeBox{
  position: absolute;
  left: 300px;
}
#tripCostBox{
  position: absolute;
  left: 300px;
}
#tripMaxSlotsBox{
  position: absolute;
  left: 300px;
}





/*========================  adminEditUser Pages ======================================*/

#adminGreenUsersDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding:20px;
  padding-top: 10px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid limegreen;
  background-color: black;
  color: white;
  overflow-y: auto;
}
#greenUsersDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid limegreen;
}

#adminOrangeUsersDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding:20px;
  padding-top: 10px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid Orange;
  background-color: black;
  color: white;
  overflow-y: auto;
}
#orangeUsersDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid orange;
}

#adminPurpleUsersDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding:20px;
  padding-top: 10px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid Purple;
  background-color: black;
  color: white;
  overflow-y: auto;
}
#purpleUsersDivTitle{
    margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid purple;
}

#adminYellowUsersDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding:20px;
  padding-top: 10px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid yellow;
  background-color: black;
  color: white;
  overflow-y: auto;
}
#yellowUsersDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid yellow;
  
}

.greenUser{
  margin-top: 10px;
}

.orangeUser{
  margin-top: 10px;
}

.purpleUser{
  margin-top: 10px;
}

.yellowUser{
  margin-top: 10px;
}



#greenEditUserButton{
  margin:5px;
  background-color: black;
  border: 1px solid limegreen;
  color: white;

}
#addUserButtonGreen{
  position: relative;
  float: center;
  margin: 20px;
  height: 40px;
  width: 80px;
  background-color: black;
  border: 2px solid limegreen;
  color: white;

}
#orangeEditUserButton{
  margin:5px;
  background-color: black;
  border: 1px solid orange;
  color: white;
}
#addUserButtonOrange{
  position: relative;
  float: center;
  margin: 20px;
  height: 40px;
  width: 80px;
  background-color: black;
  border: 2px solid orange;
  color: white;

}

#purpleEditUserButton{
  margin:5px;
  background-color: black;
  border: 1px solid purple;
  color: white;
}
#addUserButtonPurple{
  position: relative;
  float: center;
  margin: 20px;
  height: 40px;
  width: 80px;
  background-color: black;
  border: 2px solid purple;
  color: white;

}

#yellowEditUserButton{
  margin:5px;
  background-color: black;
  border: 1px solid yellow;
  color: white;
}
#addUserButtonYellow{
  position: relative;
  float: center;
  margin: 20px;
  height: 40px;
  width: 80px;
  background-color: black;
  border: 2px solid yellow;
  color: white;

}