.app {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2500px;
  overflow: hidden;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
}

.app .site-content {
  height: 5000px;
  /*-webkit-overflow-scrolling: touch;*/
  /*background:#CAE1FF;*/
  background: black;
}

.pageHeaderDiv{
  width: 80%;
  height: 40px;
  margin-left: 10%;
  text-align: center;
}
.pageHeader{
  color: rgb(018,055,156);
  font-size: 50px;
  margin-top: 0px;
}

/*=================== NavBar ============================*/


#navbar{
  height: 150px;
  width: 100%;
  background-color: rgb(018, 055,156);
  border: 5px solid gray;
  border-radius: 5px;
}
#navbarLogo{
  height: 150px;
  margin-left: 25px;
  
}
#navbarLogoBox{
  height: 150px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border: 5px solid gray;
  /*border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/
  

}
#navbarTitle{
  position: absolute;
  top: 0;
  color: white;
  margin-top: 10px;
  margin-left: 225px;
  font-size: 50px;
}
.navbarLink{
  color: white;
  position: relative;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

#signedInAs{
  color: white;
  position: relative;
  float: right;
  margin-top: 125px;
  margin-right: 10px;
}


/*=================== Welcome Page ============================*/
#welcome{
    color: white;
    margin-top: 100px;
    margin-left: 75px;
}
#enter{
  font-size: 100px;
  color: white;
  margin-left: 25%;
  margin-right: 25%;
}

/*=================== Login Page ============================*/


/*=================== All Events Page ============================*/

.tripsDivTitle{         /* can delete this one now?*/
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid green;
}

#greenTripsDiv{
  margin-left: 10%;
  margin-top: 45px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid lightgreen;
  /*background-color: #BCD2EE;*/
  background-color:black;
  color: white;

}
.greenTripsDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid green;
}
.tripDateLine{
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 17px;
  color: white;
  float: right;
}
.tripDateLineSmall{
  position: absolute;
  left: 400px;
  font-size: 12px;
  color: white;
}
.greenTripDescriptionLine{
  margin-left: 60px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
  border-bottom: 1px solid green;
}
.orangeTripDescriptionLine{
  margin-left: 60px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
  border-bottom: 1px solid orange;
}
.purpleTripDescriptionLine{
  margin-left: 60px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
  border-bottom: 1px solid purple;
}
.yellowTripDescriptionLine{
  margin-left: 60px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
  border-bottom: 1px solid yellow;
}
.tripCostLine{
  margin-left: 100px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
}
.tripTimeLine{
  margin-left: 100px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 20px;
  color: white;
}
.greenLI{
  color: green;
  margin-left: 50px;
  text-decoration: white;
}

#orangeTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid orange;
  background-color: black;
  color: white;
}
/*.greenModal{
  position: absolute;
  top: 325px;
  left: 400px;
  height: 425px;
  width: 60%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}*/
.orangeTripsDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid orange;
}
.orangeLI{
  color: orange;
  margin-left: 50px;
  text-decoration: white;
}

#purpleTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid purple;
  background-color: black;
  color:white;
}
.purpleTripsDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid purple;
  
}
.purpleLI{
  color: purple;
  margin-left: 50px;
  text-decoration: white;
}

#yellowTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid yellow;
  background-color: black;
  color:white;
}
.yellowTripsDivTitle{
  margin-left: 10px;
  margin-right: 10px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color:white;
  border-bottom: 3px solid yellow;
}
.yellowLI{
  color: yellow;
  margin-left: 50px;
  font-size: 17px;
  text-decoration: white;
}

/*li {
  color: white;
  font-size: 17px;
}*/

a {
  color:white;
  text-decoration: none;
 }

/*.modalLink:hover{
  text-decoration: underline;
  
}
.modalEventTitle{
  margin-left: 10px;
}
.modalEventDescription{
  margin-left: 90px;
}
.modal-body{
  margin-left: 30px;
}*/
.submitMeButton{
  margin-left: 10px;
}

.removeMeButton{
  margin-left: 10px;
}

/*======================== Trip Details Page =============================*/

#tripDateLine{
  margin-left: 10px;
}


/*======================== admin Home ======================================*/

#adminHomeDiv{
  position: absolute;
  top: 150;
  background-color: black;
  height: 100%;
  width: 100%;
  margin-top:-10px;
}

#adminHomeTitle{
 color: white
}

.adminHomeLinks{
  color: white;
  float: left;
  margin-left: 150px;
  margin-right: 150px;
}







/*======================== adminAllEvents ======================================*/
#adminNavbar{
  height: 150px;
  width: 100%;
  background-color: black;
}

#adminBackground{
  position: absolute;
  top: 150;
  height: 100%;
  width: 100%;
  background-color: black;
  /*border-top: 5px solid gray;*/

}
#adminGreenTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding:20px;
  padding-top: 10px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  background-color: black;
  color: white;
}
#adminOrangeTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  background-color: black;
  color: white;
}
#adminPurpleTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  background-color: black;
  color:white;
}
#adminYellowTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  background-color: black;
  color:white;
}
.adminTripLink{
  color: white;
}
.admin li{
  color: white;
}

/*========================  adminTripDetails Pages ======================================*/

#editSlotButton {
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-right: 20px;
}

#hasPaidOrNot{
  margin-right: 30px;
  margin-left: 10px;
}

.greenTripSlots{
  color: green;
}
#participantName{
  color:white;
}
#greenEditSlotButton{
  margin:5px;
  background-color: black;
  border: 1px solid green;
  color: white;
}
#orangeEditSlotButton{
  margin:5px;
  background-color: black;
  border: 1px solid orange;
  color: white;
}
#purpleEditSlotButton{
  margin:5px;
  background-color: black;
  border: 1px solid purple;
  color: white;
}
#yellowEditSlotButton{
  margin:5px;
  background-color: black;
  border: 1px solid yellow;
  color: white;
}

/*========================  adminSlotDetails Pages ======================================*/


#editSlotHeader{
  border-bottom: 2px solid black;
}
#editSlotDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid white;
  /*background-color: #BCD2EE;*/
  background-color:gray;
  color: white;
}

#paidCheckBox{
  margin-left: 10px;
}

#updateSlotButton{
  margin: 15px;
  border: 2px solid green;
}

#deleteSlotButton{
  /*margin: 15px;*/
  background-color: none;
  border: 2px solid red;
}