.app {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2500px;
  overflow: hidden;
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
}

.app .site-content {
  height: 5000px;
  /*-webkit-overflow-scrolling: touch;*/
  background:#CAE1FF;
}

.pageHeaderDiv{
  width: 80%;
  height: 40px;
  margin-left: 10%;
  text-align: center;
}
.pageHeader{
  color: rgb(018,055,156);
  font-size: 50px;
}

/*=================== NavBar ============================*/


#navbar{
  height: 150px;
  width: 100%;
  background-color: rgb(018, 055,156);
}
#navbarLogo{
  height: 150px;
  margin-left: 25px;
}
#navbarLogoBox{
  height: 150px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
#navbarTitle{
  position: absolute;
  top: 0;
  color: white;
  margin-top: 10px;
  margin-left: 225px;
  font-size: 100px;
}
.navbarLink{
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
}


/*=================== Welcome Page ============================*/
#welcome{
    color: white;
    margin-top: 100px;
    margin-left: 75px;
}
#enter{
  font-size: 100px;
  color: white;
  margin-left: 25%;
  margin-right: 25%;
}

/*=================== Login Page ============================*/


/*=================== All Events Page ============================*/

.tripsDivTitle{
  margin-left: 20px;
  /*margin-top: 20px;*/
  font-size: 25px;
}

#greenTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid green;
  /*background-color: #BCD2EE;*/
    background-color:rgba(0,255,0,.1);

}
#greenTripsDivTitle{
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color: white;
  border-bottom: 1px solid green;
}
#greenTripsDiv li{
  color: Black;
  margin-left: 50px;
}

#orangeTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid orange;
  background-color: rgba(255,158,0,.2);
}
.greenModal{
  position: absolute;
  top: 325px;
  left: 400px;
  height: 425px;
  width: 60%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}
#orangeTripsDivTitle{
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color: white;
  border-bottom: 1px solid orange;
}
#orangeTripsDiv li{
  color: black;
  margin-left: 50px;
}

#purpleTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid purple;
  background-color: rgba(174,0,229,.2);
}
#purpleTripsDivTitle{
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color: white;
  border-bottom: 1px solid purple;
  
}
#purpleTripsDiv li{
  color: black;
  margin-left: 50px;
}

#yellowTripsDiv{
  margin-left: 10%;
  margin-top: 25px;
  padding-top: 10px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  border: 5px solid yellow;
  background-color: rgba(255,255,0,.2);
}
#yellowTripsDivTitle{
  margin-left: 20px;
  margin-right: 20px;
  /*margin-top: 20px;*/
  font-size: 25px;
  color: white;
  border-bottom: 1px solid yellow;
}
#yellowTripsDiv li{
  color: black;
  margin-left: 50px;
}

li {
  color: yellow;
  font-size: 17px;
}

a {
  color:inherit;
  text-decoration: none;
 }

.modalLink:hover{
  text-decoration: underline;
  
}