  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">MANUAL ENROLLMENT</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">(logout)</a>
        <a class="navbarLink hvr-grow" href="/adminEventsNavMenu">(admin trips)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(admin home)</a>
        
  </div>

  <div id="adminBackground">
      <div id="searchParticipantDiv">
          <p id="totalDueLine">Trip to sign Participant up for: <span id="totalDue">{{trip.eventName}}</span></p>
          <p id="totalDueLine">Date: <span id='totalDue'>{{trip.eventDate | date: "MM/dd/yyyy 'at' h:mma"}}<span>
          <!--<p>Trip ID: {{trip.id}}</p>-->
          <!--<p>Color ID:<span ng-bind="trip.colorID"></span></p>-->
          <form name="addParticipantForm">
              <input id="searchFirstName" type="text" placeholder="first name" ng-model="participant.firstName"></input>
              <input id="searchLastName" type="text" placeholder="last name" ng-model="participant.lastName"></input>

          </form>
        <button id="searchForParticipantButton" ng-click="searchForParticipant()" ng-disabled="">Search</button>

        <div id="returnedParticipantDiv" ng-class="class" >
            <p id="participantSearchResult" ng-bind="participantToSignUp[0].firstName"> <span id="participantLastName" ng-bind="participantToSignUp[0].lastName"></span></p>
            <!--<span>{{participantToSignUp.lastName}}</span>-->
            <p >userID: <span id="participantUserID" ng-bind="participantToSignUp[0].id"></span></p>
            <button id="submitParticipantButton" ng-click="submitParticipant()">Sign Participant Up</button>
        </div>
          
      </div>

  </div>