  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink hvr-grow hvr-grow" ng-click="logout()">logout</a>
        <a class="navbarLink hvr-grow" href="/Events">(exit ADMIN)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(Admin Home)</a>
        
  </div>

  <div id="adminBackground"> 

    <div id="adminGreenUsersDiv" class="container"> 
        
        <h2 id="greenUsersDivTitle"> Green Users <span><a href="/admin/addUserGreen"><button id="addUserButtonGreen" class="hvr-grow"> Add User</button></a></span> </h2>
            <div class="userListDiv">
            <ol>
                <li id="greenUser.id" class="greenUser" ng-repeat="greenUser in greenUsers | orderBy: ['lastName', 'firstName']">
                    
                    <span ><a class="hvr-grow" href="/admin/userProfile/{{greenUser.id}}"><button class="userProfileLink hvr-grow">{{greenUser.firstName}} {{greenUser.lastName}}</button></a></span>
                    <a href="/admin/editUser/{{greenUser.id}}"><button id="greenEditUserButton" class="hvr-grow">edit</button></a>
                </li>
            </ol>
        </div>
    </div>

     <div id="adminOrangeUsersDiv" class="container"> 
        <h2 id="orangeUsersDivTitle"> Orange Users <span><a href="/admin/addUserOrange"><button id="addUserButtonOrange" class="hvr-grow"> Add User</button></a></span></h2>
            <div class="userListDiv">
            <ol>
              
                 <li id="orangeUser.id" class="orangeUser" ng-repeat="orangeUser in orangeUsers | orderBy: ['lastName', 'firstName']">
                    
                    <span><a class=" hvr-grow" href="/admin/userProfile/{{orangeUser.id}}"><button class="userProfileLink hvr-grow">{{orangeUser.firstName}} {{orangeUser.lastName}}</button></a></span>
                    <a href="/admin/editUser/{{orangeUser.id}}"><button id="orangeEditUserButton" class="hvr-grow">edit</button></a>
                </li>
            </ol>
            </div>
    </div>

     <div id="adminPurpleUsersDiv" class="container"> 
        <h2 id="purpleUsersDivTitle"> Purple Users <span><a href="/admin/addUserPurple" ><button id="addUserButtonPurple" class="hvr-grow"> Add User</button></a></span></h2>
            <div class="userListDiv">
            <ol>
                <li id="purpleUser.id" class="purpleUser" ng-repeat="purpleUser in purpleUsers | orderBy: ['lastName', 'firstName']">
                    
                    <span><a class=" hvr-grow" href="/admin/userProfile/{{purpleUser.id}}"><span><button class="userProfileLink hvr-grow">{{purpleUser.firstName}} {{purpleUser.lastName}}</button></a></span>
                    <a href="/admin/editUser/{{purpleUser.id}}"><button id="purpleEditUserButton" class="hvr-grow">edit</button></a>
                </li>
            </ol>
            </div>
    </div>

     <div id="adminYellowUsersDiv" class="container"> 
        <h2 id="yellowUsersDivTitle"> Yellow Users <span><a href="/admin/addUserYellow"><button id="addUserButtonYellow" class="hvr-grow"> Add User</button></a></span></h2>
            <div class="userListDiv">
             <ol>
                 <li id="yellowUser.id" class="yellowUser" ng-repeat="yellowUser in yellowUsers | orderBy: ['lastName', 'firstName']">
                    
                    <span><a class=" hvr-grow" href="/admin/userProfile/{{yellowUser.id}}"><span><button class="userProfileLink hvr-grow">{{yellowUser.firstName}} {{yellowUser.lastName}}</button></a></span>
                    <a href="/admin/editUser/{{yellowUser.id}}"><button id="yellowEditUserButton" class="hvr-grow">edit</button></a>
                 </li>
            </ol>
            </div>
    </div>

         <div id="AdminListDiv" class="container"> 
        <h2 id="AdminListDivTitle"> Admin Users <span><a href="/admin/addAdmin"><button id="addAdminButton" class="hvr-grow"> Add Admin</button></a></span></h2>
            <div class="userListDiv">
             <ol>
                 <li class="administrator" class="administrator" ng-repeat="administrator in administrators | orderBy: ['lastName', 'firstName']">
                    
                    <a class=" hvr-grow"><span><button class="userProfileLink">{{administrator.firstName}} {{administrator.lastName}}</button></span></a>
                    <a href="/admin/editUser/{{administrator.id}}"><button id="EditAdminButton" class="hvr-grow">edit</button></a>
                 </li>
            </ol>
            </div>
    </div>
</div>
