  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink" ng-click="logout()">logout</a>
        <a class="navbarLink" href="/adminAllEvents">return to ADMIN TRIP LIST</a>
        <p id="signedInAs" class="" ng-show="isLoggedIn()">Signed in as <a class="navbar-link"></a>{{ $scope.ME.firstname }} {{ $scope.ME.lastname }}</p>
  </div>

<div id="adminBackground">
  <div id="editSlotDiv">
      <h1 id="editSlotHeader"> Edit Slot</h1>

      <form name="updateSlotForm">
        <label>First Name: <span> {{slotToEdit.firstName}} </span></label>
        <p></p>
        <label>Last Name: <span> {{slotToEdit.lastName}} </span></label>
        <p></p>
        <label>paid<input id="paidCheckBox" name="paid" type="checkbox" ng-model="slotToEdit.paid" ng-checked="slotToEdit.paid" value="slotToEdit.paid" ng-true-value="1" ng-false-value="0"></input></label>
    </form>
    <button class="btn btn-default" id="updateSlotButton" ng-click="updateThisSlot()" ng-disabled="updateSlotForm.$invalid">UPDATE SLOT</button>
    <button class="btn btn-default" id="deleteSlotButton" ng-click="promptDeleteThisSlot()">DELETE SLOT</button>
  </div>
</div>