  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">(logout)</a>
        <a class="navbarLink hvr-grow" href="/">(exit admin)</a>
        
  </div>

<div id="adminBackground">
  <div id="homeLinksDiv">

    <a class="adminHomeLinks hvr-grow" href="/adminAllUsers"><h1 class="hvr-grow">USERS</h1></a>

    <a class="adminHomeLinks hvr-grow" href="/adminEventsNavMenu"><h1 class="hvr-grow">FIELD TRIPS</h1></a>

    <!--<h1><a class="adminHomeLinks" href="/adminEditColors">Color Groups</a></h1>-->
  </div>
</div>
