  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FUTURE FIELD TRIPS:</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">(logout)</a>
         <a class="navbarLink hvr-grow" href="/">(exit admin)</a>
         <a class="navbarLink hvr-grow" href="/adminHome">(admin home)</a>
        
  </div>

<div id="adminBackground">

    <div id="adminGreenTripsDiv" class="container" > 
      <p class="greenTripsDivTitle">Green Field Trips <span><a href="/admin/addTripGreen"><button id="addTripButtonGreen" class="hvr-grow"> Add Trip</button></a></span> </p>
      <div class="tripListDiv">
      <ul>
        <li ng-repeat="greenTrip in greenTrips | orderBy: 'eventDate'" class="greenLI adminLI">
          <a class="btn btn-primary singleTripLink adminTripLink"  ng-href="/admin/GreenTrips/{{greenTrip.id}}">  {{greenTrip.eventName}} </a>
          <span class="tripDateLineSmall">{{greenTrip.eventDate | date: "EEE MM/dd/yyyy 'at' h:mma"}}</span>
          <!--<span class="tripTimeLineSmall">{{greenTrip.eventTime}}</span>-->
          <span class="tripCostLineSmall">${{greenTrip.eventCost}}</span>
          <span class="tripMaxSlotsLineSmall">Max Slots: {{greenTrip.maxSlots}}</span>
          <span><a href="/admin/editTrip/{{greenTrip.id}}"><button class="greenEditTripButton hvr-grow" href="">Edit Trip</button></a></span>
       </li>
      </ul>
      </div>
    </div>

    <div id="adminOrangeTripsDiv" class="container " > 
      <p class="orangeTripsDivTitle">Orange Field Trips <span><a href="/admin/addTripOrange"><button id="addTripButtonOrange" class="hvr-grow"> Add Trip</button></a></span></p>
      <div class="tripListDiv">
      <ul>
        <li ng-repeat="orangeTrip in orangeTrips | orderBy: 'eventDate'" class="orangeLI adminLI">
          <a class="btn btn-primary singleTripLink adminTripLink"  ng-href="/admin/OrangeTrips/{{orangeTrip.id}}">  {{orangeTrip.eventName}} </a>
          <span class="tripDateLineSmall">{{orangeTrip.eventDate | date: "EEE MM/dd/yyyy 'at' h:mma"}}</span>
          <!--<span class="tripTimeLineSmall">{{orangeTrip.eventTime}}</span>-->
          <span class="tripCostLineSmall">${{orangeTrip.eventCost}}</span>
          <span class="tripMaxSlotsLineSmall">Max Slots: {{orangeTrip.maxSlots}}</span>
          <span><a href="/admin/editTrip/{{orangeTrip.id}}"><button class="orangeEditTripButton hvr-grow">Edit Trip</button></a></span>
          </li>                  
      </ul>
       </div>
    </div>

    <div id="adminPurpleTripsDiv" class="container "> 
      <p class="purpleTripsDivTitle">Purple Field Trips <span><a href="/admin/addTripPurple"><button id="addTripButtonPurple" class="hvr-grow"> Add Trip</button></a></span></p>
      <div class="tripListDiv">
      <ul>
          <li ng-repeat="purpleTrip in purpleTrips | orderBy: 'eventDate'" class="purpleLI adminLI">
            <a class="btn btn-primary singleTripLink adminTripLink"  ng-href="/admin/PurpleTrips/{{purpleTrip.id}}">  {{purpleTrip.eventName}} </a>
            <span class="tripDateLineSmall">{{purpleTrip.eventDate | date: "EEE MM/dd/yyyy 'at' h:mma"}}</span>
            <!--<span class="tripTimeLineSmall">{{purpleTrip.eventTime}}</span>-->
            <span class="tripCostLineSmall">${{purpleTrip.eventCost}}</span>
            <span class="tripMaxSlotsLineSmall">Max Slots: {{purpleTrip.maxSlots}}</span>
            <span><a href="/admin/editTrip/{{purpleTrip.id}}"><button class="purpleEditTripButton hvr-grow" href="">Edit Trip</button></a></span>
          </li>  
      </ul>
       </div>
    </div>

    <div id="adminYellowTripsDiv" class="container " > 
      <p class="yellowTripsDivTitle">Yellow Field Trips <span><a href="/admin/addTripYellow"><button id="addTripButtonYellow" class="hvr-grow"> Add Trip</button></a></span></p>
      <div class="tripListDiv">
      <ul>
        <li ng-repeat="yellowTrip in yellowTrips | orderBy: 'eventDate'" class="yellowLI adminLI">
          <a class="btn btn-primary singleTripLink adminTripLink "  ng-href="/admin/YellowTrips/{{yellowTrip.id}}">  {{yellowTrip.eventName}} </a>
          <span class="tripDateLineSmall">{{yellowTrip.eventDate | date: "EEE MM/dd/yyyy 'at' h:mma"}}</span>
          <!--<span class="tripTimeLineSmall">{{yellowTrip.eventTime}}</span>-->
          <span class="tripCostLineSmall">${{yellowTrip.eventCost}}</span>
          <span class="tripMaxSlotsLineSmall">Max Slots: {{yellowTrip.maxSlots}}</span>
          <span><a href="/admin/editTrip/{{yellowTrip.id}}"><button class="yellowEditTripButton hvr-grow" href="">Edit Trip</button></a></span>
          </li>  
      </ul>
       </div>
    </div>

  <div id="adminRainbowTripsDiv" class="container"> 
  <p class="rainbowTripsDivTitle">Rainbow Field Trips <span><a href="/admin/addTripRainbow"><button id="addTripButtonRainbow" class="hvr-grow"> Add Trip</button></a></span></p>
  <div class="tripListDiv">
  <ul>
     <li ng-repeat="rainbowTrip in rainbowTrips | orderBy: 'eventDate'" class="rainbowLI adminLI">
       <a class="btn btn-primary singleTripLink adminTripLink"  ng-href="/admin/RainbowTrips/{{rainbowTrip.id}}">  {{rainbowTrip.eventName}} </a>
        <span class="tripDateLineSmall">{{rainbowTrip.eventDate | date: "EEE MM/dd/yyyy 'at' h:mma"}}</span>
        <!--<span class="tripTimeLineSmall">{{rainbowTrip.eventTime}}</span>-->
        <span class="tripCostLineSmall">${{rainbowTrip.eventCost}}</span>
        <span class="tripMaxSlotsLineSmall">Max Slots: {{rainbowTrip.maxSlots}}</span>
        <span><a href="/admin/editTrip/{{rainbowTrip.id}}"><button class="rainbowEditTripButton hvr-grow" href="">Edit Trip</button></a></span>
       </li>  
  </ul>
 </div>
</div>