  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink" ng-click="logout()">logout</a>
        <a class="navbarLink" href="/adminAllEvents">return to ADMIN TRIP LIST</a>
        <p id="signedInAs" class="" ng-show="isLoggedIn()">Signed in as <a class="navbar-link"></a>{{ $scope.ME.firstname }} {{ $scope.ME.lastname }}</p>
  </div>


<div id="adminBackground">
    <div id="adminPurpleTripsDiv" class="container"> 
      <p class="purpleTripsDivTitle">{{purpleTrip.eventName}} <span class="tripDateLine">{{purpleTrip.eventDate}}</span></p>
      <p class="purpleTripDescriptionLine">{{purpleTrip.eventDescription}} <span class="tripTimeLine">{{purpleTrip.eventTime}}</span><span class="tripCostLine">${{purpleTrip.eventCost}}</span></p>
      
      <h3> Field Trip Slots:</h3>
        <ol>
        <li id="{{purpleTripSlot.id}}" class="purpleTripSlots" ng-repeat="purpleTripSlot in purpleTripSlots" >
          <a href="admin/slotDetails/{{ purpleTripSlot.id }}"><button id="purpleEditSlotButton" >edit</button></a>
          <label>paid<input id="hasPaidOrNot" type="radio" ng-checked="{{purpleTripSlot.paid}}"></input></label>
          {{purpleTripSlot.firstname}} {{purpleTripSlot.lastname}}
        </li>
      </ol>

      <!--<button type="button" class="btn btn-default submitMeButton" ng-click="signMeUp()">Sign Me Up</button>
      <button type="button" class="btn btn-default removeMeButton" ng-click="removeMe()">Remove Me</button>-->
    </div>
</div>