  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">EDIT TRIP</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">(logout)</a>
         <a class="navbarLink hvr-grow" href="/Events">(exit amdin)</a>
         <a class="navbarLink hvr-grow" href="/adminHome">(admin home)</a>
       
  </div>

  
<div id="adminBackground">
    <div id="editTripDiv">
        <form name="editTripForm">
            <label>Trip Name: <input id="tripNameBox" type="text" ng-model="tripToEdit.eventName" required></label><br><br>
            <label>DateTime:<input id="tripDateBox" type="datetime-local" ng-model="tripToEdit.eventDate" required></label><br><br>
            <label>Description: <input id="tripDescriptionBox" type="text" ng-model="tripToEdit.eventDescription" required></label><br><br>
            <!--<label>Time: <input id="tripTimeBox" type="time" ng-model="tripToEdit.eventTime" required></label><br><br>-->
            <label>Cost: <input id="tripCostBox" type="text" ng-model="tripToEdit.eventCost" required></label><br><br>
            <label>Max Slots: <input id="tripMaxSlotsBox" type="text" ng-model="tripToEdit.maxSlots" required></label><br><br>
            <label>Event Details: <textarea id="tripEventDetailsBox" style="width:400px;height:px;rows:20;" ng-model="tripToEdit.eventDetails" required></textarea></label><br><br>
            <label>Publish? <input id="publishValue" type="checkbox" ng-model="tripToEdit.publish" ng-checked="tripToEdit.publish" value="tripToEdit.publish" ng-true-value="1" ng-false-value="0"></label><br><br>
        </form>
        <button id="updateTripButton" ng-click="updateTrip()" ng-disabled="editTripForm.$invalid">Submit Changes</button>
        <button class="btn btn-default" id="deleteTripButton" ng-click="promptDeleteThisTrip()">DELETE TRIP</button>
    </div>



</div>

