  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">USER PROFILE</p>
        <a class="navbarLink hvr-grow hvr-grow" ng-click="logout()">(logout)</a>
        <a class="navbarLink hvr-grow" href="/Events">(exit admin)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(admin home)</a>
        
  </div>

  <div id="adminBackground">


      <div id="AdminListDiv" class="container"> 
          <p id="profileParticipantName">{{participant.firstName}} <span>{{participant.lastName}}</span></p>
          <p id="tripListTitle"> Enrolled Field Trips:</p>
          <div class="tripListDiv">
            <table>
                <!--<tr class="participantTripLine" ng-repeat="participantTrip in participantTrips | orderBy: 'eventDate'">
                    <td class="participantTripName">{{participantTrip.eventName}}</td> <td class="participantTripDateLineSmall" >{{participantTrip.eventDate | date: "MM/dd/yyyy 'at' h:mma"}}</td><td class="participantTripCostLineSmall">${{participantTrip.eventCost}}</td>
                </tr>-->
                 <th class="userProfileTableHeader"> Current Trips <button class="markAsPaidBtn" ng-click="markCurrentAsPaid()">Mark all as paid</button></th>
                 <tr class="participantTripLine" ng-repeat="CurrentParticipantTrip in CurrentParticipantTrips | orderBy: 'eventDate'">
                    <td class="participantTripName"><a href="/admin/{{colorGroup}}Trips/{{CurrentParticipantTrip.eventID}}">{{CurrentParticipantTrip.eventName}}</a></td> <td class="participantTripDateLineSmall" >{{CurrentParticipantTrip.eventDate | date: "MM/dd/yyyy 'at' h:mma"}}</td><td class="participantTripCostLineSmall">${{CurrentParticipantTrip.eventCost}}</td>
                    <td><label>paid<input id="hasPaidOrNot" type="radio" ng-checked="{{CurrentParticipantTrip.paid}}" disabled="disabled"></input></label></td>
                </tr>
                <tr></tr>
                <tr></tr>
                <th class="userProfileTableHeader"> Future Trips <button class="markAsPaidBtn" ng-click="markFutureAsPaid()">Mark all as paid</button></th>
                 <tr class="participantTripLine" ng-repeat="FutureParticipantTrip in FutureParticipantTrips | orderBy: 'eventDate'">
                    <td class="participantTripName">{{FutureParticipantTrip.eventName}}</td> <td class="participantTripDateLineSmall" >{{FutureParticipantTrip.eventDate | date: "MM/dd/yyyy 'at' h:mma"}}</td><td class="participantTripCostLineSmall">${{FutureParticipantTrip.eventCost}}</td>
                    <td><label>paid<input id="hasPaidOrNot" type="radio" ng-checked="{{FutureParticipantTrip.paid}}" disabled="disabled"></input></label></td>
                </tr>
            </table>
         
            <!--<p id="totalDueLine">Grand Total Due:  <span id="totalDue">${{totalDue}}</span></p>-->
          </div>
         <p id="totalDueLine">Total Due for This Month: <span id="totalDue">${{currentTotalDue}}</span>
             <span id="totalDueLine">Amount Paid This Month: </span><span id="totalDue"> ${{amtPaidThisMonth}}</span>
             <span id="totalDueLine">Current Balance Due: </span><span id="totalDue"> ${{currentBalance}}</span>
        </p>
         <p id="totalDueLine">Total Due for Next Month:  <span id="totalDue">${{futureTotalDue}}</span>
            <span id="totalDueLine">Amount Paid for Next Month: </span><span id="totalDue"> ${{amtPaidForNextMonth}}</span>
            <span id="totalDueLine">Future Balance Due: </span><span id="totalDue">${{futureBalance}}</span>
         </p>
          
        
      </div>

  </div>    