  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">logout</a>
         <a class="navbarLink hvr-grow" href="/Events">(exit ADMIN)</a>
         <a class="navbarLink hvr-grow" href="/adminHome">(Admin Home)</a>
       
  </div>

  
<div id="adminBackground">
    <div id="editTripDiv">
        <p>Clicking this button is will delete all Field Trips and associated enrollments. This is irreversible. Continue with caution.</p>
        <button class="btn btn-default" id="deleteTripButton" >DELETE ALL TRIPS</button>
    </div>



</div>