  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">EDIT USER</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">(logout)</a>
        <a class="navbarLink hvr-grow" href="/adminAllUsers">(admin users)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(admin home)</a>
       
  </div>

  <div id="adminBackground">
    <div id="editTripDiv">
        <form name="editUserForm">
            <label>First Name: <input id="userFirstNameBox" type="text" ng-model="user.firstName" required></label><br><br>
            <label>Last Name:<input id="userLastNameBox" type="text" ng-model="user.lastName" required></label><br><br>
            <label>Email: <input id="userEmailBox" type="text" ng-model="user.email" required></label><br><br>
            <label>Password: <input id="userPasswordBox" type="text" ng-model="user.password" required></label><button id="passwordGenerator" ng-click="generatePassword()">Generate Password</button><br><br>
            <label>ColorID: 
                <select id="userColorIdBox"  ng-model="user.colorID" placeholder="colorID" required>
                    <option value="1">Green = 1</option>
                    <option value="2">Orange = 2</option>
                    <option value="3">Purple = 3</option>
                    <option value="4">Yellow = 4</option>
                   
                </select>
                
            </label><br><br>
             <label>Role: 
                 <select id="userRoleBox" ng-model="user.role" placeholder="role" required>
                    <option value="user">User</option>
                </select>
            </label><br><br>
        </form>
        <button id="updateUserButton" ng-click="updateThisUser()" ng-disabled="editUserForm.$invalid">Submit Changes</button>
        <button class="btn btn-default" id="deleteUserButton" ng-click="promptDeleteThisUser()">DELETE USER</button>
    </div>



</div>