  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">TRIP DETAILS</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">(logout)</a>
        <a class="navbarLink hvr-grow" href="/adminEventsNavMenu">(admin trips)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(admin home)</a>
       
  </div>


<div id="adminBackground">
    <div id="adminRainbowTripsDiv" class="container"> 
      <p class="rainbowTripsDivTitle">{{rainbowTrip.eventName}} <span class="tripDateLine">{{rainbowTrip.eventDate | date: "EEE MM/dd/yyyy 'at' h:mma"}}</span></p>
      <p class="purpleTripDescriptionLine">{{rainbowTrip.eventDescription}}<span><button id="tripDetailsButton" ng-click="showDetails()">Details</button></span>  <span class="tripTimeLine">{{rainbowTrip.eventTime}}</span><span class="tripCostLine">${{rainbowTrip.eventCost}}</span><span class="tripMaxSlotsLine">Max Slots: {{rainbowTrip.maxSlots}}</span></p>
      
      <h3> Field Trip Slots: <span><a href="/{{addParticipantLink}}"><button class="addParticipantButton">add participant</button></a></span></h3>
       
      <div class="listDiv">
            <ol>
            <li id="{{rainbowTripSlot.id}}" class="adminRainbowTripSlots" ng-repeat="rainbowTripSlot in rainbowTripSlots" >
              <a href="admin/slotDetails/{{ rainbowTripSlot.id }}"><button id="rainbowEditSlotButton" >edit</button></a>
              <label>paid<input id="hasPaidOrNot" type="radio" ng-checked="{{rainbowTripSlot.paid}}" disabled="disabled"></input></label>
                <span id="participantName"><a href="/admin/userProfile/{{rainbowTripSlot.userID}}">{{rainbowTripSlot.firstname}} {{rainbowTripSlot.lastname}}</a> </span>
                <span ng-if="rainbowTripSlots.indexOf(rainbowTripSlot) +1 > rainbowTrip.maxSlots" class="adminWaitlist">** WaitListed **</span>
            </li>
          </ol>
      </div>

    </div>
</div>