  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink" ng-click="logout()">logout</a>
         <a class="navbarLink" href="/Events">(exit ADMIN)</a>
        <p id="signedInAs" class="" ng-show="loggedIn">Signed in as {{ ME.firstName }} {{ ME.lastName }}</p>
  </div>
<div id="adminBackground">

    <div id="adminGreenTripsDiv" class="container" > 
      <p class="greenTripsDivTitle">Green Field Trips</p>
      <ul>
        <li ng-repeat="greenTrip in greenTrips" class="greenLI admin li"><a class="btn btn-primary singleTripLink adminTripLink"  ng-href="/admin/GreenTrips/{{greenTrip.id}}">  {{greenTrip.eventName}} </a><span class="tripDateLineSmall">{{greenTrip.eventDate}}</span></li>
      </ul>
    </div>

    <div id="adminOrangeTripsDiv" class="container " > 
      <p class="orangeTripsDivTitle">Orange Field Trips</p>
      <ul>
        <li ng-repeat="orangeTrip in orangeTrips" class="orangeLI admin li"><a class="btn btn-primary singleTripLink adminTripLink"  ng-href="/admin/OrangeTrips/{{orangeTrip.id}}">  {{orangeTrip.eventName}} </a><span class="tripDateLineSmall">{{orangeTrip.eventDate}}</span></li>                  
      </ul>

    </div>

    <div id="adminPurpleTripsDiv" class="container "> 
      <p class="purpleTripsDivTitle">Purple Field Trips</p>
      <ul>
          <li ng-repeat="purpleTrip in purpleTrips" class="purpleLI admin li"><a class="btn btn-primary singleTripLink adminTripLink"  ng-href="/admin/PurpleTrips/{{purpleTrip.id}}">  {{purpleTrip.eventName}} </a><span class="tripDateLineSmall">{{purpleTrip.eventDate}}</span></li>  
      </ul>
    </div>

    <div id="adminYellowTripsDiv" class="container " > 
      <p class="yellowTripsDivTitle"> Yellow Field Trips</p>
      <ul>
        <li ng-repeat="yellowTrip in yellowTrips" class="yellowLI admin li"><a class="btn btn-primary singleTripLink adminTripLink"  ng-href="/admin/YellowTrips/{{yellowTrip.id}}">  {{yellowTrip.eventName}} </a><span class="tripDateLineSmall">{{yellowTrip.eventDate}}</span></li>  
      </ul>
    </div>
</div>


