  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">logout</a>
        <a class="navbarLink hvr-grow" href="/adminAllUsers">(Admin Users)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(Admin Home)</a>
       
  </div>

    <div id="adminBackground">
    <div id="editTripDiv">
        <form name="addUserForm">
            <label>First Name: <input id="userFirstNameBox" type="text" ng-model="user.firstName" required></label><br><br>
            <label>Last Name:<input id="userLastNameBox" type="text" ng-model="user.lastName" required></label><br><br>
            <label>Email: <input id="userEmailBox" type="text" ng-model="user.email" required></label><br><br>
            <label>Password: <input id="userPasswordBox" type="text" ng-model="user.password" placeholder="enter new password" required></label><br><br>
            <label>Role: <input id="userRoleBox" type="text" ng-model="user.role" required></label><br><br>
        </form>
        <button id="submitUserButton" ng-click="submitUserOrange()" ng-disabled="addUserForm.$invalid">Submit User</button>
        
    </div>



</div>