  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">logout</a>
        <a class="navbarLink hvr-grow" href="/Events">(exit ADMIN)</a>
        
  </div>

<div id="adminBackground">
    <h1 class="adminHomeTitle">Welcome to admin Home.</h1>

    <h1><a class="adminHomeLinks hvr-grow" href="/adminAllUsers">Users</a></h1>

    <h1><a class="adminHomeLinks hvr-grow" href="/adminAllEvents">Field Trips</a></h1>

    <h1><a class="adminHomeLinks hvr-grow" href="/adminDeleteAllTrips">Delete All Trips!</a></h1>

    

    <!--<h1><a class="adminHomeLinks" href="/adminEditColors">Color Groups</a></h1>-->
</div>
