  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">TRIP DETAILS</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">(logout)</a>
        <a class="navbarLink hvr-grow" href="/adminEventsNavMenu">(admin trips)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(admin home)</a>
       
  </div>

<div id="adminBackground">
    <div id="adminOrangeTripsDiv" class="container"> 
      <p class="orangeTripsDivTitle">{{orangeTrip.eventName}} <span class="tripDateLine">{{orangeTrip.eventDate | date: "MM/dd/yyyy 'at' h:mma"}}</span></p>
      <p class="orangeTripDescriptionLine">{{orangeTrip.eventDescription}}<span><button id="tripDetailsButton" ng-click="showDetails()">Details</button></span>  <span class="tripTimeLine">{{orangeTrip.eventTime}}</span><span class="tripCostLine">${{orangeTrip.eventCost}}</span><span class="tripMaxSlotsLine">Max Slots: {{orangeTrip.maxSlots}}</span></p>
      
      <h3> Field Trip Slots: <span><a href="/{{addParticipantLink}}"><button class="addParticipantButton">add participant</button></a></span></h3>
       
       <div class="listDiv">
          <ol>
            <li id="{{orangeTripSlot.id}}" class="adminOrangeTripSlots" ng-repeat="orangeTripSlot in orangeTripSlots" >
              <a href="admin/slotDetails/{{ orangeTripSlot.id }}"><button id="orangeEditSlotButton" >edit</button></a>
              <label>paid<input id="hasPaidOrNot" type="radio" ng-checked="{{orangeTripSlot.paid}}" disabled="disabled"></input></label>
                <span id="participantName"><a href="/admin/userProfile/{{orangeTripSlot.userID}}">{{orangeTripSlot.firstname}} {{orangeTripSlot.lastname}}</a> </span>
                <span ng-if="orangeTripSlots.indexOf(orangeTripSlot) +1 > orangeTrip.maxSlots" class="adminWaitlist">** WaitListed **</span>
            </li>
          </ol>
       </div>
    
    </div>
</div>


