<div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle"></p>
        <a class="navbarLink hvr-grow" ng-click="logout()">(logout)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(admin home)</a>
        <a class="navbarLink hvr-grow" href="/">(exit admin)</a>
        
</div>

<div id="adminBackground">
    <div id="homeLinksDiv">
    <h1 class="adminHomeTitle">Welcome to admin Home.</h1>

    <a class="adminHomeLinks hvr-grow" href="/adminCurrentEvents"><h1 class="hvr-grow">CURRENT EVENTS</h1></a>

    <a class="adminHomeLinks hvr-grow" href="/adminFutureEvents"><h1 class="hvr-grow">FUTURE EVENTS</h1></a>

    <!--<h1><a class="adminHomeLinks" href="/adminEditColors">Color Groups</a></h1>-->
    </div>
</div>