  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">TRIP DETAILS</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">(logout)</a>
        <a class="navbarLink hvr-grow" href="/adminEventsNavMenu">(admin trips)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(admin home)</a>
        
  </div>

<div id="adminBackground">
    <div id="adminGreenTripsDiv" class="container"> 
      <p class="greenTripsDivTitle">{{greenTrip.eventName}} <span class="tripDateLine">{{greenTrip.eventDate | date: "EEE MM/dd/yyyy 'at' h:mma"}}</span></p>
      <p class="greenTripDescriptionLine">{{greenTrip.eventDescription}}<span><button id="tripDetailsButton" class="hvr-grow">Details</button></span> <span class="tripTimeLine">{{greenTrip.eventTime}}</span><span class="tripCostLine">${{greenTrip.eventCost}}</span><span class="tripMaxSlotsLine">Max Slots: {{greenTrip.maxSlots}}</span></p>

      <h3> Field Trip Slots: <span><a href="/{{addParticipantLink}}"><button class="addParticipantButton">add participant</button></a></span></h3>
      
      <div class="listDiv">
          <ol>
            <li id="{{greenTripSlot.id}}" class="adminGreenTripSlots" ng-repeat="greenTripSlot in greenTripSlots" >
              <a href="admin/slotDetails/{{ greenTripSlot.id }}"><button id="greenEditSlotButton" >edit slot</button></a>
              <label>paid<input id="hasPaidOrNot" type="radio" ng-checked="{{greenTripSlot.paid}}" disabled="disabled"></input></label>
              <span id="participantName"><a href="/admin/userProfile/{{greenTripSlot.userID}}">{{greenTripSlot.firstname}} {{greenTripSlot.lastname}} </a></span>
              <span ng-if="greenTripSlots.indexOf(greenTripSlot) +1 > greenTrip.maxSlots" class="adminWaitlist">** WaitListed **</span>
            </li>
          </ol>
      </div>
   
    </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Trip Details:</h2>
    <markdown-renderer text="greenTrip.eventDetails"></markdown-renderer>
      
  </div>

</div>