  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">TRIP DETAILS</p>
        <a class="navbarLink hvr-grow" ng-click="logout()">(logout)</a>
        <a class="navbarLink hvr-grow" href="/adminEventsNavMenu">(admin trips)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(admin home)</a>
        
  </div>


  <div id="adminBackground"> 
    <div id="adminYellowTripsDiv" class="container"> 
      <p class="yellowTripsDivTitle">{{yellowTrip.eventName}} <span class="tripDateLine">{{yellowTrip.eventDate | date: "EEE MM/dd/yyyy 'at' h:mma"}}</span></p>
      <p class="yellowTripDescriptionLine">{{yellowTrip.eventDescription}}<span><button id="tripDetailsButton">Details</button></span>  <span class="tripTimeLine">{{yellowTrip.eventTime}}</span><span class="tripCostLine">${{yellowTrip.eventCost}}</span><span class="tripMaxSlotsLine">Max Slots: {{yellowTrip.maxSlots}}</span></p>
      
      <h3> Field Trip Slots: <span><a href="/{{addParticipantLink}}"><button class="addParticipantButton">add participant</button></a></span></h3>
       <div class="listDiv">
          <ol>
            <li id="{{yellowTripSlot.id}}" class="adminYellowTripSlots" ng-repeat="yellowTripSlot in yellowTripSlots" >
              <a href="admin/slotDetails/{{ yellowTripSlot.id }}"><button id="yellowEditSlotButton" >edit</button></a>
              <label>paid<input id="hasPaidOrNot" type="radio" ng-checked="{{yellowTripSlot.paid}}" disabled="disabled"></input></label>
              <span id="participantName"><a href="/admin/userProfile/{{yellowTripSlot.userID}}">{{yellowTripSlot.firstname}} {{yellowTripSlot.lastname}} </a></span>
                <span ng-if="yellowTripSlots.indexOf(yellowTripSlot) +1 > yellowTrip.maxSlots" class="adminWaitlist">** WaitListed **</span>
            </li>
          </ol>
       </div>

    </div>
  </div>


  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Trip Details:</h2>
    <markdown-renderer text="yellowTrip.eventDetails"></markdown-renderer>
     
  </div>

</div>