  <div class="" id="adminNavbar">
        <div id="adminNavbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink hvr-grow hvr-grow" ng-click="logout()">logout</a>
        <a class="navbarLink hvr-grow" href="/Events">(exit ADMIN)</a>
        <a class="navbarLink hvr-grow" href="/adminHome">(Admin Home)</a>
        
  </div>

  <div id="adminBackground"> 

    <div id="adminGreenUsersDiv" class="container"> 
        
        <h2 id="greenUsersDivTitle"> Green Users <span><a href="/admin/addUserGreen"><button id="addUserButtonGreen" class="hvr-grow"> Add User</button></a></span> </h2>
            <div class="userListDiv">
            <ol>
                <li id="greenUser.id" class="greenUser" ng-repeat="greenUser in greenUsers">
                    <a href="/admin/editUser/{{greenUser.id}}"><button id="greenEditUserButton" class="hvr-grow">edit</button></a>
                    <span>{{greenUser.firstName}} {{greenUser.lastName}}</span>
                </li>
            </ol>
        </div>
    </div>

     <div id="adminOrangeUsersDiv" class="container"> 
        <h2 id="orangeUsersDivTitle"> Orange Users <span><a href="/admin/addUserOrange"><button id="addUserButtonOrange" class="hvr-grow"> Add User</button></a></span></h2>
            <div class="userListDiv">
            <ol>
              
                 <li id="orangeUser.id" class="orangeUser" ng-repeat="orangeUser in orangeUsers">
                    <a href="/admin/editUser/{{orangeUser.id}}"><button id="orangeEditUserButton" class="hvr-grow">edit</button></a>
                    <span>{{orangeUser.firstName}} {{orangeUser.lastName}}</span>
                    
                </li>
            </ol>
            </div>
    </div>

     <div id="adminPurpleUsersDiv" class="container"> 
        <h2 id="purpleUsersDivTitle"> Purple Users <span><a href="/admin/addUserPurple" ><button id="addUserButtonPurple" class="hvr-grow"> Add User</button></a></span></h2>
            <div class="userListDiv">
            <ol>
                <li id="purpleUser.id" class="purpleUser" ng-repeat="purpleUser in purpleUsers">
                    <a href="/admin/editUser/{{purpleUser.id}}"><button id="purpleEditUserButton" class="hvr-grow">edit</button></a>
                    <span>{{purpleUser.firstName}} {{purpleUser.lastName}}</span>
                </li>
            </ol>
            </div>
    </div>

     <div id="adminYellowUsersDiv" class="container"> 
        <h2 id="yellowUsersDivTitle"> Yellow Users <span><a href="/admin/addUserYellow"><button id="addUserButtonYellow" class="hvr-grow"> Add User</button></a></span></h2>
            <div class="userListDiv">
             <ol>
                 <li id="yellowUser.id" class="yellowUser" ng-repeat="yellowUser in yellowUsers">
                    <a href="/admin/editUser/{{yellowUser.id}}"><button id="yellowEditUserButton" class="hvr-grow">edit</button></a>
                    <span">{{yellowUser.firstName}} {{yellowUser.lastName}}</span>
                 </li>
            </ol>
            </div>
    </div>
</div>
