  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink" ng-click="logout()" href="">logout</a><a class="navbarLink" href="/adminHome" ng-hide="isAdmin">ADMIN</a>
        <p id="signedInAs" class="" ng-show="loggedIn">Signed in as {{ ME.firstName }} {{ ME.lastName }}</p>
        
  </div>


<div id="greenTripsDiv" class="container" ng-show="isGreen || isTheRainbow"> 
  <p class="greenTripsDivTitle">Green Field Trips</p>
  <ul>
    <li ng-repeat="greenTrip in greenTrips" class="greenLI">
      <a class="btn btn-primary singleTripLink hvr-grow"  ng-href="/GreenTrips/{{greenTrip.id}}">  {{greenTrip.eventName}} </a>
      <span class="tripDateLineSmall">{{greenTrip.eventDate}}</span>
      <span class="tripTimeLineSmall">{{greenTrip.eventTime}}</span>
      <span class="tripCostLineSmall">${{greenTrip.eventCost}}</span>
      <span class="tripMaxSlotsLineSmall">Max Slots: {{greenTrip.maxSlots}}</span>
    </li>
  </ul>
</div>

<div id="orangeTripsDiv" class="container" ng-show="isOrange || isTheRainbow"> 
  <p class="orangeTripsDivTitle">Orange Field Trips</p>
  <ul>
    <li ng-repeat="orangeTrip in orangeTrips" class="orangeLI">
      <a class="btn btn-primary singleTripLink hvr-grow"  ng-href="/OrangeTrips/{{orangeTrip.id}}">  {{orangeTrip.eventName}} </a>
      <span class="tripDateLineSmall">{{orangeTrip.eventDate}}</span>
      <span class="tripTimeLineSmall">{{orangeTrip.eventTime}}</span>
      <span class="tripCostLineSmall">${{orangeTrip.eventCost}}</span>
      <span class="tripMaxSlotsLineSmall">Max Slots: {{orangeTrip.maxSlots}}</span>
    </li>                  
  </ul>

</div>

<div id="purpleTripsDiv" class="container" ng-show="isPurple || isTheRainbow"> 
  <p class="purpleTripsDivTitle">Purple Field Trips</p>
  <ul>
      <li ng-repeat="purpleTrip in purpleTrips" class="purpleLI">
        <a class="btn btn-primary singleTripLink hvr-grow"  ng-href="/PurpleTrips/{{purpleTrip.id}}">  {{purpleTrip.eventName}} </a>
        <span class="tripDateLineSmall">{{purpleTrip.eventDate}}</span>
        <span class="tripTimeLineSmall">{{purpleTrip.eventTime}}</span>
        <span class="tripCostLineSmall">${{purpleTrip.eventCost}}</span>
        <span class="tripMaxSlotsLineSmall">Max Slots: {{purpleTrip.maxSlots}}</span>
     </li>  
  </ul>
</div>

<div id="yellowTripsDiv" class="container" ng-show="isYellow || isTheRainbow"> 
  <p class="yellowTripsDivTitle"> Yellow Field Trips</p>
  <ul>
     <li ng-repeat="yellowTrip in yellowTrips" class="yellowLI">
       <a class="btn btn-primary singleTripLink hvr-grow"  ng-href="/YellowTrips/{{yellowTrip.id}}">  {{yellowTrip.eventName}} </a>
        <span class="tripDateLineSmall">{{yellowTrip.eventDate}}</span>
        <span class="tripTimeLineSmall">{{yellowTrip.eventTime}}</span>
        <span class="tripCostLineSmall">${{yellowTrip.eventCost}}</span>
        <span class="tripMaxSlotsLineSmall">Max Slots: {{yellowTrip.maxSlots}}</span>
       </li>  
  </ul>
</div>


