  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink" ng-click="logout()">logout</a>
        <p id="signedInAs" class="" ng-show="isLoggedIn()">Signed in as <a class="navbar-link"></a>{{ ME.firstname }} {{ ME.lastname }}</p>
  </div>

<div class="pageHeaderDiv"><h1 class="pageHeader">Events</h1></div>

<div id="greenTripsDiv"> 
  <p id="greenTripsDivTitle">Green Field Trips</p>
  <ul>
    <li><a id="g1_modalLink" class="modalLink" href="">  {{greenEventsArray[0].eventName}}</btn></li>
    <li><a id="g2_modalLink" class="modalLink" href="">   {{greenEventsArray[1].eventName}}</a></li>
    <li><a id="g3_modalLink" class="modalLink" href="">   {{greenEventsArray[2].eventName}}</a></li>
    <li><a id="g4_modalLink" class="modalLink" href="">   {{greenEventsArray[3].eventName}}</a></li>
    <li><a id="g5_modalLink" class="modalLink" href="">   {{greenEventsArray[4].eventName}}</a></li>
    <li><a id="g6_modalLink" class="modalLink" href="">   {{greenEventsArray[5].eventName}}</a></li>
    <li><a id="g7_modalLink" class="modalLink" href="">   {{greenEventsArray[6].eventName}}</a></li>
    <li><a id="g8_modalLink" class="modalLink" href="">   {{greenEventsArray[7].eventName}}</a></li>
    <li><a id="g9_modalLink" class="modalLink" href="">   {{greenEventsArray[8].eventName}}</a></li>
    <li><a id="g10_modalLink" class="modalLink" href="">  {{greenEventsArray[9].eventName}}</a></li>
    <li><a id="g11_modalLink" class="modalLink" href="">  {{greenEventsArray[10].eventName}}</a></li>
    <li><a id="g12_modalLink" class="modalLink" href="">  {{greenEventsArray[11].eventName}}</a></li>
    <li><a id="g13_modalLink" class="modalLink" href="">  {{greenEventsArray[12].eventName}}</a></li>
    <li><a id="g14_modalLink" class="modalLink" href="">  {{greenEventsArray[13].eventName}}</a></li>
    <li><a id="g15_modalLink" class="modalLink" href="">  {{greenEventsArray[14].eventName}}</a></li>
    <li><a id="g16_modalLink" class="modalLink" href="">  {{greenEventsArray[15].eventName}}</a></li>
    <li><a id="g17_modalLink" class="modalLink" href="">  {{greenEventsArray[16].eventName}}</a></li>
    <li><a id="g18_modalLink" class="modalLink" href="">  {{greenEventsArray[17].eventName}}</a></li>
    <li><a id="g19_modalLink" class="modalLink" href="">  {{greenEventsArray[18].eventName}}</a></li>
    <li><a id="g20_modalLink" class="modalLink" href="">  {{greenEventsArray[19].eventName}}</a></li>
  </ul>

  <div id="g1_modal"></div>
  <div id="g2_modal"></div>
  <div id="g3_modal"></div>
  <div id="g4_modal"></div>
  <div id="g5_modal"></div>
  <div id="g6_modal"></div>
  <div id="g7_modal"></div>
  <div id="g8_modal"></div>
  <div id="g9_modal"></div>
  <div id="g10_modal"></div>
  <div id="g11_modal"></div>
  <div id="g12_modal"></div>
  <div id="g13_modal"></div>
  <div id="g14_modal"></div>
  <div id="g15_modal"></div>
  <div id="g16_modal"></div>
  <div id="g17_modal"></div>
  <div id="g18_modal"></div>
  <div id="g19_modal"></div>
  <div id="g20_modal"></div>
  

</div>

<div id="orangeTripsDiv"> 
  <p id="orangeTripsDivTitle">Orange Field Trips</p>
  <ul>
    <li><a id="o1_modalLink" class="modalLink" href="">   {{orangeEventsArray[0].eventName}}</a></li>
    <li><a id="o2_modalLink" class="modalLink" href="">   {{orangeEventsArray[1].eventName}}</a></li>
    <li><a id="o3_modalLink" class="modalLink" href="">   {{orangeEventsArray[2].eventName}}</a></li>
    <li><a id="o4_modalLink" class="modalLink" href="">   {{orangeEventsArray[3].eventName}}</a></li>
    <li><a id="o5_modalLink" class="modalLink" href="">   {{orangeEventsArray[4].eventName}}</a></li>
    <li><a id="o6_modalLink" class="modalLink" href="">   {{orangeEventsArray[5].eventName}}</a></li>
    <li><a id="o7_modalLink" class="modalLink" href="">   {{orangeEventsArray[6].eventName}}</a></li>
    <li><a id="o8_modalLink" class="modalLink" href="">   {{orangeEventsArray[7].eventName}}</a></li>
    <li><a id="o9_modalLink" class="modalLink" href="">   {{orangeEventsArray[8].eventName}}</a></li>
    <li><a id="o10_modalLink" class="modalLink" href="">  {{orangeEventsArray[9].eventName}}</a></li>
    <li><a id="o11_modalLink" class="modalLink" href="">  {{orangeEventsArray[10].eventName}}</a></li>
    <li><a id="o12_modalLink" class="modalLink" href="">  {{orangeEventsArray[11].eventName}}</a></li>
    <li><a id="o13_modalLink" class="modalLink" href="">  {{orangeEventsArray[12].eventName}}</a></li>
    <li><a id="o14_modalLink" class="modalLink" href="">  {{orangeEventsArray[13].eventName}}</a></li>
    <li><a id="o15_modalLink" class="modalLink" href="">  {{orangeEventsArray[14].eventName}}</a></li>
    <li><a id="o16_modalLink" class="modalLink" href="">  {{orangeEventsArray[15].eventName}}</a></li>
    <li><a id="o17_modalLink" class="modalLink" href="">  {{orangeEventsArray[16].eventName}}</a></li>
    <li><a id="o18_modalLink" class="modalLink" href="">  {{orangeEventsArray[17].eventName}}</a></li>
    <li><a id="o19_modalLink" class="modalLink" href="">  {{orangeEventsArray[18].eventName}}</a></li>
    <li><a id="o20_modalLink" class="modalLink" href="">  {{orangeEventsArray[19].eventName}}</a></li>
  </ul>

  <div id="o1_modal"></div>
  <div id="o2_modal"></div>
  <div id="o3_modal"></div>
  <div id="o4_modal"></div>
  <div id="o5_modal"></div>
  <div id="o6_modal"></div>
  <div id="o7_modal"></div>
  <div id="o8_modal"></div>
  <div id="o9_modal"></div>
  <div id="o10_modal"></div>
  <div id="o11_modal"></div>
  <div id="o12_modal"></div>
  <div id="o13_modal"></div>
  <div id="o14_modal"></div>
  <div id="o15_modal"></div>
  <div id="o16_modal"></div>
  <div id="o17_modal"></div>
  <div id="o18_modal"></div>
  <div id="o19_modal"></div>
  <div id="o20_modal"></div>

</div>

<div id="purpleTripsDiv"> 
  <p id="purpleTripsDivTitle">Purple Field Trips</p>
  <ul>
    <li><a id="p1_modalLink" class="modalLink" href="">  {{purpleEventsArray[0].eventName}}</a></li>
    <li><a id="p2_modalLink" class="modalLink" href="">  {{purpleEventsArray[1].eventName}}</a></li>
    <li><a id="p3_modalLink" class="modalLink" href="">  {{purpleEventsArray[2].eventName}}</a></li>
    <li><a id="p4_modalLink" class="modalLink" href="">  {{purpleEventsArray[3].eventName}}</a></li>
    <li><a id="p5_modalLink" class="modalLink" href="">  {{purpleEventsArray[4].eventName}}</a></li>
    <li><a id="p6_modalLink" class="modalLink" href="">  {{purpleEventsArray[5].eventName}}</a></li>
    <li><a id="p7_modalLink" class="modalLink" href="">  {{purpleEventsArray[6].eventName}}</a></li>
    <li><a id="p8_modalLink" class="modalLink" href="">  {{purpleEventsArray[7].eventName}}</a></li>
    <li><a id="p9_modalLink" class="modalLink" href="">  {{purpleEventsArray[8].eventName}}</a></li>
    <li><a id="p10_modalLink" class="modalLink" href=""> {{purpleEventsArray[9].eventName}}</a></li>
    <li><a id="p11_modalLink" class="modalLink" href=""> {{purpleEventsArray[10].eventName}}</a></li>
    <li><a id="p12_modalLink" class="modalLink" href=""> {{purpleEventsArray[11].eventName}}</a></li>
    <li><a id="p13_modalLink" class="modalLink" href=""> {{purpleEventsArray[12].eventName}}</a></li>
    <li><a id="p14_modalLink" class="modalLink" href=""> {{purpleEventsArray[13].eventName}}</a></li>
    <li><a id="p15_modalLink" class="modalLink" href=""> {{purpleEventsArray[14].eventName}}</a></li>
    <li><a id="p16_modalLink" class="modalLink" href=""> {{purpleEventsArray[15].eventName}}</a></li>
    <li><a id="p17_modalLink" class="modalLink" href=""> {{purpleEventsArray[16].eventName}}</a></li>
    <li><a id="p18_modalLink" class="modalLink" href=""> {{purpleEventsArray[17].eventName}}</a></li>
    <li><a id="p19_modalLink" class="modalLink" href=""> {{purpleEventsArray[18].eventName}}</a></li>
    <li><a id="p20_modalLink" class="modalLink" href=""> {{purpleEventsArray[19].eventName}}</a></li>   
  </ul>

  <div id="p1_modal"></div>
  <div id="p2_modal"></div>
  <div id="p3_modal"></div>
  <div id="p4_modal"></div>
  <div id="p5_modal"></div>
  <div id="p6_modal"></div>
  <div id="p7_modal"></div>
  <div id="p8_modal"></div>
  <div id="p9_modal"></div>
  <div id="p10_modal"></div>
  <div id="p11_modal"></div>
  <div id="p12_modal"></div>
  <div id="p13_modal"></div>
  <div id="p14_modal"></div>
  <div id="p15_modal"></div>
  <div id="p16_modal"></div>
  <div id="p17_modal"></div>
  <div id="p18_modal"></div>
  <div id="p19_modal"></div>
  <div id="p20_modal"></div>

</div>

<div id="yellowTripsDiv"> 
  <p id="yellowTripsDivTitle"> Yellow Field Trips</p>
  <ul>
    <li><a id="y1_modalLink" class="modalLink" href="">  {{yellowEventsArray[0].eventName}}</a></li>
    <li><a id="y2_modalLink" class="modalLink" href="">  {{yellowEventsArray[1].eventName}}</a></li>
    <li><a id="y3_modalLink" class="modalLink" href="">  {{yellowEventsArray[2].eventName}}</a></li>
    <li><a id="y4_modalLink" class="modalLink" href="">  {{yellowEventsArray[3].eventName}}</a></li>
    <li><a id="y5_modalLink" class="modalLink" href="">  {{yellowEventsArray[4].eventName}}</a></li>
    <li><a id="y6_modalLink" class="modalLink" href="">  {{yellowEventsArray[5].eventName}}</a></li>
    <li><a id="y7_modalLink" class="modalLink" href="">  {{yellowEventsArray[6].eventName}}</a></li>
    <li><a id="y8_modalLink" class="modalLink" href="">  {{yellowEventsArray[7].eventName}}</a></li>
    <li><a id="y9_modalLink" class="modalLink" href="">  {{yellowEventsArray[8].eventName}}</a></li>
    <li><a id="y10_modalLink" class="modalLink" href=""> {{yellowEventsArray[9].eventName}}</a></li>
    <li><a id="y11_modalLink" class="modalLink" href=""> {{yellowEventsArray[10].eventName}}</a></li>
    <li><a id="y12_modalLink" class="modalLink" href=""> {{yellowEventsArray[11].eventName}}</a></li>
    <li><a id="y13_modalLink" class="modalLink" href=""> {{yellowEventsArray[12].eventName}}</a></li>
    <li><a id="y14_modalLink" class="modalLink" href=""> {{yellowEventsArray[13].eventName}}</a></li>
    <li><a id="y15_modalLink" class="modalLink" href=""> {{yellowEventsArray[14].eventName}}</a></li>
    <li><a id="y16_modalLink" class="modalLink" href=""> {{yellowEventsArray[15].eventName}}</a></li>
    <li><a id="y17_modalLink" class="modalLink" href=""> {{yellowEventsArray[16].eventName}}</a></li>
    <li><a id="y18_modalLink" class="modalLink" href=""> {{yellowEventsArray[17].eventName}}</a></li>
    <li><a id="y19_modalLink" class="modalLink" href=""> {{yellowEventsArray[18].eventName}}</a></li>
    <li><a id="y20_modalLink" class="modalLink" href=""> {{yellowEventsArray[19].eventName}}</a></li>
  </ul>

  <div id="y1_modal"></div>
  <div id="y2_modal"></div>
  <div id="y3_modal"></div>
  <div id="y4_modal"></div>
  <div id="y5_modal"></div>
  <div id="y6_modal"></div>
  <div id="y7_modal"></div>
  <div id="y8_modal"></div>
  <div id="y9_modal"></div>
  <div id="y10_modal"></div>
  <div id="y11_modal"></div>
  <div id="y12_modal"></div>
  <div id="y13_modal"></div>
  <div id="y14_modal"></div>
  <div id="y15_modal"></div>
  <div id="y16_modal"></div>
  <div id="y17_modal"></div>
  <div id="y18_modal"></div>
  <div id="y19_modal"></div>
  <div id="y20_modal"></div>

</div>


