  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink" ng-click="logout()" href="/">(logout)</a>
        <a class="navbarLink" href="/UserHomeMenu">(home menu)</a>
        <p id="signedInAs" class="" ng-show="isLoggedIn()">Signed in as <a class="navbar-link"></a>{{ $scope.ME.firstname }} {{ $scope.ME.lastname }}</p>
  </div>


<div id="backgroundDiv" class="container">
  <div id="orangeTripsDiv" class="container"> 
    <p class="orangeTripsDivTitle">{{orangeTrip.eventName}} <span><button id="tripDetailsButton" class="hvr-grow">Details</button></span>  <span class="tripDateLine">{{orangeTrip.eventDate | date: "EEE MM/dd/yyyy 'at' h:mma"}}</span></p>
    <p class="orangeTripDescriptionLine">{{orangeTrip.eventDescription}} <span class="tripTimeLine">{{orangeTrip.eventTime}}</span><span class="tripCostLine">${{orangeTrip.eventCost}}</span></p>
    
    <h3> Field Trip Slots:</h3>
        <div class="listDiv">
        <ol>
        <li class="tripSlots" ng-repeat="orangeTripSlot in orangeTripSlots">
            <p ng-if="ME.id !== orangeTripSlot.userID" class="slotIsNotMine">this slot is filled <span ng-if="orangeTripSlots.indexOf(orangeTripSlot) +1 > orangeTrip.maxSlots" class="waitlist">** WaitListed **</span></p>
            <p ng-if="ME.id === orangeTripSlot.userID" class="orangeSlotIsMine">{{orangeTripSlot.firstname}} {{orangeTripSlot.lastname}} <span ng-if="orangeTripSlots.indexOf(orangeTripSlot) +1 > orangeTrip.maxSlots" class="waitlist">** WaitListed **</span></p>
          </li>
        </ol>

        
        </div>
        <button type="button" class="btn btn-default submitMeButton hvr-grow" ng-click="signMeUp()">Sign Me Up</button>
        <!--<button type="button" class="btn btn-default removeMeButton" ng-click="removeMe()">Remove Me</button>-->
  </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
     <h2>Trip Details:</h2>
     <markdown-renderer text="orangeTrip.eventDetails"></markdown-renderer>
      <!--<p>{{orangeTrip.eventDetails}}</p>-->
  </div>

</div>




