  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink" ng-click="logout()" href="/">logout</a>
        <a class="navbarLink" href="/UserHomeMenu">return to All Trips</a>
        <p id="signedInAs" class="" ng-show="isLoggedIn()">Signed in as <a class="navbar-link"></a>{{ $scope.ME.firstname }} {{ $scope.ME.lastname }}</p>
  </div>



<div id="purpleTripsDiv" class="container"> 
  <p class="purpleTripsDivTitle">{{purpleTrip.eventName}} <span class="tripDateLine">{{purpleTrip.eventDate | date: "MM/dd/yyyy 'at' h:mma"}}</span></p>
  <p class="purpleTripDescriptionLine">{{purpleTrip.eventDescription}} <span class="tripTimeLine">{{purpleTrip.eventTime}}</span><span class="tripCostLine">${{purpleTrip.eventCost}}</span></p>
  
  <h3> Field Trip Slots:</h3>
  <ol>
    <li class="tripSlots" ng-repeat="purpleTripSlot in purpleTripSlots">
        <p ng-if="ME.id !== purpleTripSlot.userID" class="slotIsNotMIne">this slot is filled <span ng-if="purpleTripSlots.indexOf(purpleTripSlot) +1 > purpleTrip.maxSlots" class="waitlist">** WaitListed **</span></p>
        <p ng-if="ME.id === purpleTripSlot.userID" class="purpleSlotIsMine">{{purpleTripSlot.firstname}} {{purpleTripSlot.lastname}} <span ng-if="purpleTripSlots.indexOf(purpleTripSlot) +1 > purpleTrip.maxSlots" class="waitlist">** WaitListed **</span></p>
    </li>
  </ol>

  <button type="button" class="btn btn-default submitMeButton" ng-click="signMeUp()">Sign Me Up</button>
  <button type="button" class="btn btn-default removeMeButton" ng-click="removeMe()">Remove Me</button>
</div>

 