  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink" ng-click="logout()">logout</a>
        <a class="navbarLink" href="/Events">return to All Trips</a>
        <p id="signedInAs" class="" ng-show="isLoggedIn()">Signed in as <a class="navbar-link"></a>{{ $scope.ME.firstname }} {{ $scope.ME.lastname }}</p>
  </div>



<div id="orangeTripsDiv" class="container"> 
  <p class="orangeTripsDivTitle">{{orangeTrip.eventName}} <span class="tripDateLine">{{orangeTrip.eventDate}}</span></p>
  <p class="orangeTripDescriptionLine">{{orangeTrip.eventDescription}} <span class="tripTimeLine">{{orangeTrip.eventTime}}</span><span class="tripCostLine">${{orangeTrip.eventCost}}</span></p>
  
  <h3> Field Trip Slots:</h3>
  <ol>
   <li class="tripSlots" ng-repeat="orangeTripSlot in orangeTripSlots">
      <p ng-if="ME.id !== orangeTripSlot.userID" class="slotIsNotMine">this slot is filled <span ng-if="orangeTripSlots.indexOf(orangeTripSlot) +1 > orangeTrip.maxSlots" class="waitlist">** WaitListed **</span></p>
      <p ng-if="ME.id === orangeTripSlot.userID" class="orangeSlotIsMine">{{orangeTripSlot.firstname}} {{orangeTripSlot.lastname}} <span ng-if="orangeTripSlots.indexOf(orangeTripSlot) +1 > orangeTrip.maxSlots" class="waitlist">** WaitListed **</span></p>
    </li>
  </ol>

  <button type="button" class="btn btn-default submitMeButton" ng-click="signMeUp()">Sign Me Up</button>
  <button type="button" class="btn btn-default removeMeButton" ng-click="removeMe()">Remove Me</button>
</div>




