  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink" ng-click="logout()" href="/">(logout)</a>
        <a class="navbarLink" href="/UserHomeMenu">(home menu)</a>
        <p id="signedInAs" class="" ng-show="isLoggedIn()">Signed in as <a class="navbar-link"></a>{{ $scope.ME.firstname }} {{ $scope.ME.lastname }}</p>
  </div>

<div id="backgroundDiv" class="container">
  <div id="yellowTripsDiv" class="container"> 
    <p class="yellowTripsDivTitle">{{yellowTrip.eventName}} <span class="tripDateLine">{{yellowTrip.eventDate | date: "MM/dd/yyyy 'at' h:mma"}}</span></p>
    <p class="yellowTripDescriptionLine">{{yellowTrip.eventDescription}} <span class="tripTimeLine">{{yellowTrip.eventTime}}</span><span class="tripCostLine">${{yellowTrip.eventCost}}</span></p>
    
    <h3> Field Trip Slots:</h3>
        <div class="listDiv">
        <ol>
        <li class="tripSlots" ng-repeat="yellowTripSlot in yellowTripSlots">
            <p ng-if="ME.id !== yellowTripSlot.userID" class="slotIsNotMIne">this slot is filled <span ng-if="yellowTripSlots.indexOf(yellowTripSlot) +1 > yellowTrip.maxSlots" class="waitlist">** WaitListed **</span></p>
            <p ng-if="ME.id === yellowTripSlot.userID" class="yellowSlotIsMine">{{yellowTripSlot.firstname}} {{yellowTripSlot.lastname}} <span ng-if="yellowTripSlots.indexOf(yellowTripSlot) +1 > yellowTrip.maxSlots" class="waitlist">** WaitListed **</span></p>
          </li>
        </ol>

        
      </div>
      <button type="button" class="btn btn-default submitMeButton" ng-click="signMeUp()">Sign Me Up</button>
      <button type="button" class="btn btn-default removeMeButton" ng-click="removeMe()">Remove Me</button>
  </div>
</div>

