  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
        <p id="navbarTitle">FIELD TRIPS</p>
        <a class="navbarLink" ng-click="logout()">logout</a>
        <a class="navbarLink" href="/Events">return to All Trips</a>
        <p id="signedInAs" class="" ng-show="isLoggedIn()">Signed in as <a class="navbar-link"></a>{{ $scope.ME.firstname }} {{ $scope.ME.lastname }}</p>
  </div>


<div id="yellowTripsDiv" class="container"> 
  <p class="yellowTripsDivTitle">{{yellowTrip.eventName}} <span class="tripDateLine">{{yellowTrip.eventDate}}</span></p>
  <p class="yellowTripDescriptionLine">{{yellowTrip.eventDescription}} <span class="tripTimeLine">{{yellowTrip.eventTime}}</span><span class="tripCostLine">${{yellowTrip.eventCost}}</span></p>
  
  <h3> Field Trip Slots:</h3>
  <ol>
   <li class="tripSlots" ng-repeat="yellowTripSlot in yellowTripSlots">{{yellowTripSlot.firstname}} {{yellowTripSlot.lastname}}</li>
  </ol>

  <button type="button" class="btn btn-default submitMeButton" ng-click="signMeUp()">Sign Me Up</button>
  <button type="button" class="btn btn-default removeMeButton" ng-click="removeMe()">Remove Me</button>
</div>