  <div class="" id="navbar">
        <div id="navbarLogoBox">
             <img id="navbarLogo" class="" src="./assets/ExceptionalFoundationLogo.png">
        </div>
         <p id="navbarTitle">USER PROFILE</p>
         <a class="navbarLink hvr-grow" ng-click="logout()" href="">(logout)</a><a class="navbarLink hvr-grow" href="/adminHome" ng-show="isAdmin">ADMIN</a>
         <a class="navbarLink hvr-grow" href="/UserHomeMenu">(home menu)</a>
         <p id="signedInAs" class="navbarLink" ng-show="loggedIn">Signed in as {{ ME.firstName }} {{ ME.lastName }}</p>
        
  </div>

  <div id="backgroundDiv" class="container">


      <div id="AdminListDiv" class="container"> 
          <p id="participantName">{{participant.firstName}} <span>{{participant.lastName}}</span><span><a href="/user/editMyInfo/{{participant.id}}"><button id="editMyInfoButton" class="hvr-grow" >Change My Password</button></a></span></p>
          <p id="tripListTitle"> Enrolled Field Trips:</p>
          <div id="tripListDiv">
            <table>
                    <!--<tr class="participantTripLine" ng-repeat="participantTrip in participantTrips | orderBy: 'eventDate'">
                        <td class="participantTripName">{{participantTrip.eventName}}</td> <td class="participantTripDateLineSmall" >{{participantTrip.eventDate | date: "MM/dd/yyyy 'at' h:mma"}}</td><td class="participantTripCostLineSmall">${{participantTrip.eventCost}}</td>
                    </tr>-->
                    <th class="userProfileTableHeader"> Current Trips </th>
                    <tr class="participantTripLine" ng-repeat="CurrentParticipantTrip in CurrentParticipantTrips | orderBy: 'eventDate'">
                        <td class="participantTripName">{{CurrentParticipantTrip.eventName}}</td> <td class="participantTripDateLineSmall" >{{CurrentParticipantTrip.eventDate | date: "MM/dd/yyyy 'at' h:mma"}}</td><td class="participantTripCostLineSmall">${{CurrentParticipantTrip.eventCost}}</td>
                        <td><label>paid<input id="hasPaidOrNot" type="radio" ng-checked="{{CurrentParticipantTrip.paid}}" disabled="disabled"></input></label></td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <th class="userProfileTableHeader"> Future Trips </th>
                    <tr class="participantTripLine" ng-repeat="FutureParticipantTrip in FutureParticipantTrips | orderBy: 'eventDate'">
                        <td class="participantTripName">{{FutureParticipantTrip.eventName}}</td> <td class="participantTripDateLineSmall" >{{FutureParticipantTrip.eventDate | date: "MM/dd/yyyy 'at' h:mma"}}</td><td class="participantTripCostLineSmall">${{FutureParticipantTrip.eventCost}}</td>
                        <td><label>paid<input id="hasPaidOrNot" type="radio" ng-checked="{{FutureParticipantTrip.paid}}" disabled="disabled"></input></label></td>
                    </tr>
                </table>
                <!--<p id="totalDueLine">Total Due for This Month:  <span id="totalDue">${{currentTotalDue}}</span></p>
                <p id="totalDueLine">Total Due for Next Month:  <span id="totalDue">${{futureTotalDue}}</span></p>-->
                <!--<p id="totalDueLine">Grand Total Due:  <span id="totalDue">${{totalDue}}</span></p>-->
          </div>
          <p id="totalDueLine">Total Due for This Month: <span id="totalDue">${{currentTotalDue}}</span>
             <span id="totalDueLine">Amount Paid This Month: </span><span id="totalDue"> ${{amtPaidThisMonth}}</span>
             <span id="totalDueLine">Current Balance Due: </span><span id="totalDue"> ${{currentBalance}}</span>
            </p>
          <p id="totalDueLine">Total Due for Next Month:  <span id="totalDue">${{futureTotalDue}}</span>
            <span id="totalDueLine">Amount Paid for Next Month: </span><span id="totalDue"> ${{amtPaidForNextMonth}}</span>
            <span id="totalDueLine">Future Balance Due: </span><span id="totalDue">${{futureBalance}}</span>
         </p>
          
        
      </div>

  </div>   